body {background-color: #FFFFFF; color: #000000}
p {font-family: Arial; font-size: 14px}
strong {font-size: 22px; font-weight: 600}
h3 {color: #0000FF}
em {font size: 16px; font-style: italic; text-transform: uppercase;
color: #990000; background-color: #CCFFFF}
